/*
 * Individual
 */
define(['./Base'], function (Base) {
    console.log('CORE: config called');
    var configs = {
        // to do
    };
    var _Individual = new Base(configs);
    return _Individual;
}); 