/*
 * Individual
 */
define(['./Base','../backbone'], function (Base, backbone) {
    console.log('CORE: config called');
    var d = new Date().getTime();
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    	var r = (d + Math.random()*16)%16 | 0;
    	d = Math.floor(d/16);
    	return (c=='x' ? r : (r&0x7|0x8)).toString(16);
    });    
    var configs = {
    	// to do
	};
    var _Individual = new Base(uuid, configs);
    return _Individual;
}); 