/*
 * Config
 */
define(['./Base'], function (Base) {
    console.log('CORE: config called');
    var configs = {
		app_list: {
			'calculator': {
				views: [
					{
						calculator: {
							result: 0,
							subscriptions: [
								{
									channel: 'calculator',
									topic: 'calculated'
								}
							]
						}
					}
				],
				models: [
					{
						individual: {
							someKey: 'someValue',
							subscriptions: [
								{
									channel: 'calculator',
									topic: 'calculate'
								}
							]
						}
					}
				]
			}
		}
	};
    var _Config = new Base(configs);
    return _Config;
});