/*
 * Config
 */
define(['./Base'], function (Base) {
    console.log('CORE: config called');
    var configs = {
		app_list: {
			'calculator': {
				views: {
					calculator: {
						result: 0,
						htmlSource: '<h2>I am a view of a calculator</h2><script type="text/javascript">var viewInit = function() {console.log("CORE: page viewInit() called");</script>',
						subscriptions: [
							{
								channel: 'calculator',
								topic: 'doneCalculate'
							}
						]
					}
				},
				models: {
					individual: {
						someKey: 'someValue',
						subscriptions: [
							{
								channel: 'calculator',
								topic: 'doCalculate'
							}
						]
					}
				}
			}
		}
	};
    var _Config = new Base(configs);
    return _Config;
});