module.exports.configs = {
	app_list: {
		'calculator': {
			subscriptions: {
				channels: [{
					'calculator': { 
						topics: [{
							'calculate',
							'calculated'
						}]
					}
				}]
			}
		}
	} // put your apps here
}
